doctype html
html(ng-app="SparqlServer").
    <head>
        <meta charset="UTF-8">
        <title>Lab 8</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>

    <body ng-controller="sendquery">
        <div class="container">
        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!--<form>-->
                <div>
                    <p id="myQuery"><b>Lab 8: Sparql</b></p>
                    <textarea class="form-control" id="query" placeholder="please paste query from readme"rows="15"></textarea>

                <button id="sendbutton" class="submit" ng-click=send()>SEND</button>
                </div>
            <!--</form>-->

            <table class="table table-bordered table-striped" ng-show="myResults">
                <tr>
                    <th>URL</th>
                    <th>COUNTRY NAME</th>
                    <th>POPULATION</th>
                </tr>
                <tr ng-repeat="x in queries">
                    <td>{{x.country.value}}</td>
                    <td>{{x.country_name.value}}</td>
                    <td>{{x.population.value}}</td>
                </tr>
            </table>
        </div>
        </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="javascripts/scripts.js"></script>
    <script src="javascripts/buttonanimation.js"></script>
